= javascript_include_tag params[:controller]
= stylesheet_link_tag params[:controller]
%body
= content_tag :div, id: 'trackers', data: {trackers: @out_subjects} do end

.demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
  %header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
    .mdl-layout__header-row
      %span.mdl-layout-title Home
      .mdl-layout-spacer
  .demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
    %header.demo-drawer-header
      %img.demo-avatar{:src => "https://www.clipartmax.com/png/small/15-153139_big-image-login-icon-with-transparent-background.png"}/
      .demo-avatar-dropdown
        %span= @current_user.first_name + " " + @current_user.last_name
        .mdl-layout-spacer
    %nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
      %a.mdl-navigation__link{:href => "/dashboard/index"}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> home
        Home
      %a.mdl-navigation__link{:href => "/calendar/index"}
        %i.m-dl-color-text--blue-grey-400.material-icons{:role => "presentation"}> calendar_today
        Calendar
      %a.mdl-navigation__link{:href => "/setup/index"}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> settings
        Setup
      %a.mdl-navigation__link{:href => "https://successcenter.tamu.edu/"}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> info
        About
      
      %a.mdl-navigation__link{:href => logout_path}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> power_settings_new
        Logout  
  -if params[:controller] == 'dashboard'
    =render partial: "dashboard/partials/home"
  -if params[:controller] == 'calendar'
    =render partial: "calendar/calendar"
