%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", :rel => "stylesheet"}/
/ Compiled and minified JavaScript
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"}

!!!

//   Material Design Lite
//   Copyright 2015 Google Inc. All rights reserved.
  
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
  
//   https://www.apache.org/licenses/LICENSE-2.0
  
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License

      
%body
.demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
  %header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
    .mdl-layout__header-row
      %span.mdl-layout-title Home
      .mdl-layout-spacer
  .demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
    %header.demo-drawer-header
      %img.demo-avatar{:src => "images/user.jpg"}/
      .demo-avatar-dropdown
        %span= @current_user.first_name + " " + @current_user.last_name
        .mdl-layout-spacer
    %nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
      %a.mdl-navigation__link{:href => ""}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> home
        Home
      %a.mdl-navigation__link{:href => ""}
        %i.m-dl-color-text--blue-grey-400.material-icons{:role => "presentation"}> inbox
        Calender
      %a.mdl-navigation__link{:href => ""}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> delete
        Setup
      %a.mdl-navigation__link{:href => ""}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> report
        About
  %main.mdl-layout__content.mdl-color--grey-100
    .mdl-grid.demo-content
      - @out_subjects.each do |subject|
        .form-row
          .form-group.col-12
            %h4= subject['name']
            // %h4= subject['completion_rate']
            // hours planned subject.hours
            
        .demo-charts.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid
          // %button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
          //   %i.material-icons more_vert
          // %ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right{:for => "hdrbtn"}
          // %li.mdl-menu__item Sign-out
          
          %svg.donut{:height => "50%", :viewbox => "0 0 42 42", :width => "50%"}
            %circle.donut-hole{:cx => "21", :cy => "21", :fill => "transparent", :r => "15.91549430918954"}
            %circle.donut-ring{:cx => "21", :cy => "21", :fill => "#fff", :r => "15.91549430918954", :stroke => "#d2d3d4", "stroke-width" => "3"}
            %circle.donut-segment{:cx => "21", :cy => "21", :fill => "transparent", :r => "15.91549430918954", :stroke => "#ce4b99", "stroke-dasharray" => "50 50", "stroke-dashoffset" => "25", "stroke-width" => "3"}
            %g.chart-text
              %text.chart-number{:x => "50%", :y => "50%"}
              %text.chart-label{:x => "50%", :y => "50%"}
                #{subject['completion_rate']}
              %text.chart-end{:x => "50%", :y => "50%"}
                Completion-time


          %svg.donut{:height => "50%", :viewbox => "0 0 42 42", :width => "50%"}
            %circle.donut-hole{:cx => "21", :cy => "21", :fill => "transparent", :r => "15.91549430918954"}
            %circle.donut-ring{:cx => "21", :cy => "21", :fill => "#fff", :r => "15.91549430918954", :stroke => "#d2d3d4", "stroke-width" => "3"}
            %circle.donut-segment{:cx => "21", :cy => "21", :fill => "transparent", :r => "15.91549430918954", :stroke => "#ce4b99", "stroke-dasharray" => "60 40", "stroke-dashoffset" => "25", "stroke-width" => "3"}
            %g.chart-text
              %text.chart-number{:x => "50%", :y => "50%"}
              %text.chart-label{:x => "50%", :y => "50%"}
                #{subject['completion_rate']}
              %text.chart-end{:x => "50%", :y => "50%"}
                Completion-rate
>