%header.mdl-layout__header
  %h4.setup-header Create Account
.container
  %form{:action => setup_create_path, :method => :post, :novalidate => "", :id => 'setup_form'}
    .container
      %h5.username
        Name:
        %span=  @current_user.first_name + " " + @current_user.last_name
      .form-row
        .form-group.col-6
          %label{:for => "year"} Select Year of Study
          %select#year.select-year.form-control.form-control-lg{:name => "year"}
            %option{:value => "Freshman"} Freshman
            %option{:value => "Sophomore"} Sophomore
            %option{:value => "Junior"} Junior
            %option{:value => "Senior"} Senior
            %option{:value => "Graduate"} Graduate
        .form-group.col-6
          %label{:for => "phone"} Enter Phone Number 
          %input#phone.form-control.mdl-textfield__input{:pattern => "^\s*[0-9]{10}$", :type => "text",:name=> "phone_no"}/
          %span.mdl-textfield__error Input is not a number!
        
      %h5 Enter Study Plan:
    
      #subject-list
        #single-subject-0
          =render "setup/partials/subject_form"
        #single-subject-1
          =render "setup/partials/subject_form", id: "first_subject"
              
      .form-row.add-subject
        %button.btn-subject.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.col-10.mdl-button--colored{:type => "button"} Add Subject
  
      
      %button#button_submit.btn-submit.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored{:type => "button"}
        %i.material-icons arrow_forward
