.form-group.col-4
    %label{:for => "day"} Select Day
    %select#day.select-year.form-control.form-control-lg{:required => "",:name=> "day_of_week"}
        %option{:value => "mon"} Monday
        %option{:value => "tue"} Tuesday
        %option{:value => "wed"} Wednesday
        %option{:value => "thu"} Thursday
        %option{:value => "fri"} Friday
        %option{:value => "sat"} Saturday
        %option{:value => "sun"} Sunday
.form-group.col-4   
    %label{:for => "starttime"} From
    %input#starttime{:name => "start_time", :required => "", :type => "time", }/
.form-group.col-4   
    %label{:for => "endtime"} To
    %input#endtime{:name => "end_time", :required => "", :type => "time"}/