// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-container{
    padding-top:25%;
    text-align:center;
    display: block;
}

.login-link{
    font-size:20px;
}

.page-footer{
    background-color: #8CB5CF;
}

body {
    display: flex;
    min-height: 100h;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
  @media only screen and (max-width: 992px) {
      nav .brand-logo-icon {
    display : none !important;
  }
  }

.nav-wrapper{
   background: #500000;
   width: 100%;
}

#centered{
   padding: 20px 0px;
}
