// Place all the styles related to the Setup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.setup-header{
	padding-left:10px;
}

.select-year{
	display:inherit;
}
form {
	padding: 20px;
	position:relative;
}
.mdl-layout__header{
	display:flex;
}

.username{
	padding-bottom:10px;
}

.btn-copy{
	float:right;
	margin:auto;
}

.btn-delete{
	float: left;
	margin:auto;
}


.btn-subject, .btn-del-subject{
	margin:auto;
	//float:right;
	//margin:23px;
}

.add-subject{
	padding: 20px;
}
// .btn-del-subject {
// 	float:left;
// 	margin:auto;
// }

.btn-submit{
	position: fixed;
	right:    5%;
	bottom:   10%;	
}

#single-subject-0 {
	display: none;
}

#single-schedule-0 {
	display: none;
}

#error1 {
	padding:12px;
	color: #D8000C;
    background-color: #FFD2D2;
	margin:10px 22px;
    font-size:1em;
    vertical-align:middle;
}


#subjectform{
	padding-top: 15px;
}

@media screen and (max-width: 600px){
	form{
		.container{
			width:100%;
		}
	}
}